

<div class="course__html-css" >
    
    <div class="row ml-3" >
        <div class="col-sm-4">
            <h1> {{course.name}} </h1>
    <p>
            <button>Học Ngay</button></p>
        </div>
        <div class="col-sm-8">
            <p> Cùng thực hành với <h1> {{course.name}}</h1> </p>

            <div> <video src="{{course.video}}"></video> x</div>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <div> <p> {{course.description}} </p> </div>   

            <p><img src="{{course.img}}" alt="{{course.img}}"></p>   
    </div>
</div>