<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            

                {{#each courses}}
                <div class="col-sm-6 col-lg-4">
                <div class="card" style="height: 680px;">
                    <a href="courses/{{slug}}">
                        <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <a href="courses/{{slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <br>
                <br>
                
            </div>
                {{/each}}

        </div>
    </div>


</body>

</html>